.ferment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brandSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBrand {
  font-weight: 500;
  font-size: 18px;
  color: #4d4d4d;
  margin-right: 40px;
}

.searchC {
  position: relative;
}

.searchC input {
  border: none;
  background: #f2f2f2;
  padding: 9px 20px 9px 34px;
  width: 432px;
  border-radius: 6px;
  outline: none;
}


.searchC input::-webkit-input-placeholder {
  /* Edge */
  color: #a1a1a1;
  font-size: 14x;
}

.searchC input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a1a1a1;
  font-size: 14x;
}

.searchC input::placeholder {
  color: #a1a1a1;
  font-size: 14x;
}

nav>ul {
  margin: 0;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  display: block;
  padding: 14px 12px;
  border-radius: 26px;
  color: #a1a1a1;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  transition: 0.3s;
  margin: 0px 5px;
}

nav>ul>li>a:hover {
  background: #f2f2f2;
  color: #000;
  text-decoration: none;
}

.header {
  padding: 11px 0px;
  border-bottom: 1px solid #e6e6e6;
}

span.fbicon {
  margin-right: 3px;
}

span.fbicon i {
  font-size: 18px;
  position: relative;
  top: 2px;
}
span.fbsearch {
  position: absolute;
  top: 9px;
  left: 10px;
  color: #4d4d4d;
  opacity: 0.3;
}

@media screen and (max-width: 1190px) {}

@media screen and (max-width: 991px) {
  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    box-shadow: 0 -1px 3px 0 rgb(0 0 0 / 12%);
    z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  .brandSearch {
    flex-flow: column;
    width: 100%;
  }
  .searchC input{width: 100%;}
  .ferment{justify-content: center;}
  .searchC {
    margin-top: 10px;
    width: 100%;
}
.navBrand{margin-right: 0px;}
}

@media screen and (max-width: 567px) {}